@*@model Bootstrap.Models.Clan*@
@model Bootstrap.Models.ViewModel

@{
    ViewBag.Title = "Clan Battle!!!";
}

@using (Html.BeginForm())
{

    @*jumbotron is another bootstrap conponent - styles content - "hidden-sm" at end hides element on small devices or "visible-lg" visible on large devices*@
    <div class="jumbotron hidden:sm text-center">

        <h1> Clash of Companies </h1>
        <p class="lead">Clan Battle is an MVC 6 Web Application that allows you to access vital information for your Halo Clan's Success</p>           
        <h2> Enter a Gamertag: </h2>
        <center><input type="text" class="form-control" placeholder="Gamertag" id="Gamertag" name="Gamertag" value="" /></center>
        <button class="btn btn-danger btn-lg btn-block" type="button">Search</button>

    </div>
    @*
        Clicking the form takes the value in the above TextBoxFor(),
        stores the text in the strongly typed model, and "submits" it
        performing a POST action which calls the controllers overloaded Index() marked with [HttpPost]
        ultimately calling the Index Controller logic.
    *@

    @*

        Following code creates an input group (button attached to the input form), however
        the space formatting renders it disconnected and offsetting at various responsive resolutions.

        TODO: look into bootstrap responsive design to fix issues^

        <div class="row">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">Search</button>
                </span>
                <input type="text" class="form-control" placeholder="Gamertag" id="Gamertag" name="Gamertag" value="" />
            </div>
        </div>
        *@

    @*<p><center><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more, yaa crazy Dutch bastard &raquo;</a></center></p>*@
}