@model Bootstrap.Models.Clan

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{

    <div class="jumbotron hidden:sm">
        @*jumbotron is another bootstrap conponent - styles content - "hidden-sm" at end hides element on small devices or "visible-lg" visible on large devices*@
        <h1><center> Clan Battle </center></h1>
        <p class="lead">Clan Battle is an MVC 6 Web Application that allows you to access vital information for your Halo Clan's Success</p>

        <center>
            <div class="form-horizontal">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-0" })*@
                    <center>
                        <h3>Enter Company name or Gamertag</h3>
                    </center>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
        </center>

        <center>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </center>

        <p><center><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more, yaa crazy Dutch bastard &raquo;</a></center></p>
    </div>

}