@model Bootstrap.Models.ViewModel

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

@using (Html.BeginForm())
{
    <p>Clan Battle Results:</p>
    @ViewBag.GamertagLabel

    <h3>Matches:</h3>
}

<ul>
    @foreach (var item in ViewBag.ProgList)
    {
        <li>@item</li>
    }
</ul>





